.container {
    background: #648880;
    padding: 1%; /* 10px / 538px = .018587 */
}
section,
aside {
    height: 18.5vw;
    margin: 1.8587%; /* 10px / 538px = .018587 */
}
section {
    background: rgba(254,254,254,.4);
}
aside {
    background: rgba(0,0,0,.3);
}

@media all and (min-width: 420px) {
    section {
        float: left;
        width: 63.1970%; /* 340px / 538px = .631970 */
    }
    aside {
        float: right;
        width: 29.3680%; /* 158px / 538px = .293680 */
    }
    .container:before,
    .container:after {
        content: "";
        display: block;
    }
    .container:after {
        clear: both;
    }
}


/* Default styles first then media queries */
@media screen and (min-width: 400px)  {}
@media screen and (min-width: 600px)  {}
@media screen and (min-width: 1000px) {}
@media screen and (min-width: 1400px) {}

