*, *:before, *:after {
    box-sizing: border-box;
}

header, section, aside, footer {
    background: #4eb84e;
    border-radius: 10px;
    color: darkslategrey;
    height: 100px;
    padding: 40px;
    margin: 1.5%;
    text-align: center;
}

section {
    display: inline-block;
    width: 30%;
}

footer {
    clear: both;
}