*, *:before, *:after {
    box-sizing: border-box;
}

header, section, aside, footer {
    background: #4eb84e;
    border-radius: 10px;
    color: darkslategrey;
    height: 100px;
    padding: 40px;
    margin: 1.5%;
    text-align: center;
}

section, aside {
    margin: 0 1.5% 1.5% 1.5%;
}

section {
    float: left;
    width: 63%;
}

aside {
    float: right;
    margin-left: 0;
    width: 32.5%;
}

footer {
    clear: both;
}